
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/Tennis.iml
.idea/vcs.xml
accuracies.csv
accuracies.txt
accuracies.xlsx
ausopen.csv
ausopen.xlsx
results.xlsx
~$accuracies.xlsx
~$results.xlsx
